.bd-footer a {
    color: #212529;
    text-decoration: none;
}

.bd-footer a:hover,
.bd-footer a:focus {
    color: #39A9DB;
}

.bd-footer h5 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.bd-footer {
    background-color: #fff;
}