<!--About introduction-->
<div class="bg-theme-primary">
    <div class="container large-separator-top separator">
        <div class="row text-center">
            <h1 class="about-title">About / Contact</h1>
        </div>
    </div>
</div>
<!--End about introduction-->
<!--Team table-->
<div class="team-table">
    <div class="container separator">
        <div class="d-flex justify-content-evenly separator">
            <div class="about-contact">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>&nbsp;</h2>
                        <i class="bi bi-person icon-7"></i>
                    </div>
                    <div class="col-lg-7">
                        <h2>Names</h2>
                        <p>Sander Splinter</p>
                        <p>Sagi Los</p>
                        <p>Anton Lalee</p>
                        <p>Raymond Kritikos</p>
                    </div>
                </div>
            </div>
            <div class="about-contact">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>&nbsp;</h2>
                        <i class="bi bi-hash icon-7"></i>
                    </div>
                    <div class="col-lg-7">
                        <h2>Studentnumbers</h2>
                        <p>500724547</p>
                        <p>500695726</p>
                        <p>500804345</p>
                        <p>500778433</p>
                    </div>
                </div>
            </div>
            <div class="about-contact">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>&nbsp;</h2>
                        <i class="bi bi-mailbox icon-7"></i>
                    </div>
                    <div class="col-lg-7">
                        <h2>Emails</h2>
                        <p>sander.los (at) hva (dot) nl</p>
                        <p>sagi.lalee (at) hva (dot) nl</p>
                        <p>anton.kritikos (at) hva (dot) nl</p>
                        <p>raymond.splinter (at) hva (dot) nl</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End team table-->
<!--Blokken introductie-->
<div class="about-introduction separator">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-theme-secundairy">Team member</strong>
                        <h3 class="mb-0">Sander Los</h3>
                        <div class="mb-1 text-muted">Frontend</div>
                        <p class="card-text mb-auto">ajshdjiabsdfkjhbaskjdbakjsd</p>
                    </div>
                    <div class="col-auto d-none d-lg-block bd-highlight bg-theme-wildcard right-member-icon icon-container">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block bd-highlight bg-theme-wildcard left-member-icon icon-container">
                        
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-theme-secundairy">Team member</strong>
                        <h3 class="mb-0">Sagi Lalee</h3>
                        <div class="mb-1 text-muted">Backend</div>
                        <p class="mb-auto">ajsbdjkabsdkbasd</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-theme-secundairy">Team member</strong>
                        <h3 class="mb-0">Raymond Splinter</h3>
                        <div class="mb-1 text-muted">Backend</div>
                        <p class="mb-auto">absjkhdbiafbldskfnl</p>
                    </div>
                    <div class="col-auto d-none d-lg-block bd-highlight bg-theme-wildcard right-member-icon icon-container">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block bd-highlight bg-theme-wildcard left-member-icon icon-container">
                        
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-theme-secundairy">Team member</strong>
                        <h3 class="mb-0">Anton Kritikos</h3>
                        <div class="mb-1 text-muted">Frontend</div>
                        <p class="mb-auto">jabskdjkerfklfsjdf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End blokken introductie-->