<!--Edit post introduction-->
<div class="bg-theme-primary">
  <div class="container large-separator-top separator">
    <div class="row text-center">
      <h1 class="post-title">Create post</h1>
    </div>
  </div>
</div>
<!--End edit post introduction-->
<!--Post editor-->
<div class="container separator">
  <div class="row">
    <div class="col-lg-8">
      <div class="alert alert-success fade" *ngIf="showMessage" [ngClass]="{'show': showMessage, 'hide': !showMessage}">
        successfully created a new post!
      </div>
      <form #form="ngForm">
        <mat-card class="card mb-5">
          <mat-card-content>
            <mat-form-field class="highlight-title" appearance="fill">
              <mat-label>Title</mat-label>
              <emnput matInput name="title" ngModel required>
            </mat-form-field>
            <mat-form-field class="highlight-chip-list" appearance="fill">
              <mat-label>Highlights</mat-label>
              <mat-chip-list #chipList aria-label="Highlight selection">
                <mat-chip *ngFor="let highlight of highlights" [selectable]="selectable"
                          [removable]="removable" (removed)="remove(highlight)">
                  {{highlight}}
                  <button matChipRemove *ngIf="removable">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <emnput placeholder="New highlight..." #highlightInput [formControl]="highlightControl"
                       [matAutocomplete]="auto" [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let highlight of filteredHighlights | async" [value]="highlight">
                  {{highlight}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div [froalaEditor]="FroalaEditorOptions" [(froalaModel)]="froalaField"></div>
            <div class="col-auto mt-auto">
              <br>
              <button type="button" class="btn btn-warning" (click)="createNewPost(form)" [disabled]="form.invalid">
                Create post
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
<!--End post editor-->
