<div class="large-separator-top">
    <div class="container">
        <!-- Post Content Section -->
        <div class="row">
            <div class="col-lg-8">
                <mat-card class="card mb-5">
                    <div *ngIf="post;else loadingTemplate">
                        <mat-card-header>
                            <mat-card-title>{{post?.title}}</mat-card-title>
                            <mat-card-subtitle>{{post?.dateCreated}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row px-3 pt-3">
                                <div class="col-lg px-sm-0 px-lg-3">
                                    <p>Required knowledges: {{post?.highlights}}</p>
                                    <div class="overflow" [innerHTML]="getContent(post?.content)">
                                        {{post?.content}}
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card class="card mb-5">
                    <div *ngIf="post;else loadingTemplate">
                        <mat-card-header>
                            <div mat-card-avatar class="company-logo" [ngStyle]="{'background-image': 'url(' + company.profilePicture + ')'}" ></div>
                            <mat-card-title class="align-vertical"><strong>{{company.name}}</strong></mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{company.emailAddress}}
                            </p>
                            <p>
                                {{company.phone}}
                            </p>
                        </mat-card-content>
                    </div>
                </mat-card>
                <mat-card class="card mb-5">
                    <mat-card-content>
                        <div class="column">
                            <div class="col-auto py-3">
                                Deze post is {{post?.visits}} keer bekeken
                            </div>
                            <div class="col-auto py-3">
                                Er is 69 keer op deze post gereageerd
                            </div>
                            <div class="col-auto mt-auto">
                                <button type="button" class="btn btn-warning" [routerLink]="['edit']">ik wil werk</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <!-- Post Content Section End -->

        <!-- Post Comments -->
        <div class="row">
            <div class="col-lg-12">
                <mat-card>
                    <mat-card-content>
                        <div class="column">
                            <div class="col-12 ps-3 pt-3 break">
                                <h3>
                                    Comments
                                </h3>
                            </div>
                            <div class="col-lg-12 py-4 comment-container" *ngFor="let comment of comments">
                                <div class="comment-user-container">
                                    <mat-card-header>
                                        <div mat-card-avatar class="header-image"
                                            [ngStyle]="{ 'background-image': 'url(' + comment.picture + ')'}"></div>
                                        <mat-card-title class="name">{{comment.name}}</mat-card-title>
                                        <mat-card-subtitle class="date">{{comment.dateCreated}}</mat-card-subtitle>
                                    </mat-card-header>
                                </div>
                                <div class="comment-content">
                                    <p>
                                        {{comment.content}}
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="comments.length <=0">
                                There are no comments yet, be the first to leave one!
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <!-- Post Comments End -->

    </div>
</div>

<ng-template #loadingTemplate>
    <div>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
