.signup-title {
  font-size: 48px;
}

.signup {
  margin: auto;
  width: 70%;
}

.emailInUse {
  color: red;
  margin-bottom: 10px;
}

mat-radio-button {
  margin: 0 10px 15px;
}

mat-form-field {
  width: 100%;
}
