<div class="container large-seperator">

    <h1 class="page-highlight">
        <strong>
            Search for your next oppertunity
        </strong>
    </h1>

  <!-- Search Input and Filters -->
  <div class="row p-3">
    <mat-card class="example-card mb-5 p-4">
      <mat-card-content>
        <form class="form">
          <mat-form-field class="full-width-field" appearance="fill">
            <mat-label>Search through the listing titles and highlights</mat-label>
            <emnput type="tel" #search matInput placeholder="i.e. Javascript, C#, etc." [value]="searchTerm" (keyup.enter)="onEnter(search.value)" >
            <mat-icon matSuffix (click)="onEnter(search.value)" class="search-icon">search</mat-icon>
          </mat-form-field>
        </form>
        <div>
          filters
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Search Input and Filters End-->
    <!-- Search Results -->
    <div class="row">
        <div *ngFor="let post of searchResults; let i=index" class="col-lg-6">
            <mat-card class="content-card mb-5" *ngIf="i < resultsPerPage">
                <mat-card-header class="header-title bottom-line"  [routerLink]="['/post',post.RowKey,post.PartitionKey]">
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle >{{post.dateCreated}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row px-3 pt-3">
                        <div class="col-lg px-sm-0 px-lg-3">
                            <div class="row mb-4" *ngIf="post.highlights.length > 0">
                                <div class="col-12 mb-2">
                                    <strong>Highlights:</strong>
                                </div>
                                <div class="col-12">
                                    <mat-chip-list class="scrollable"><mat-chip *ngFor="let tag of post.highlights"> {{tag}}</mat-chip> </mat-chip-list>
                                </div>
                            </div>
                            <div class="overflow" *ngIf="post.content ;else nodescription" [innerHTML]="getContent(post.content)">
                                {{post.content}}
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <button class="btn btn-theme-inverted" [routerLink]="['/post',post.RowKey,post.PartitionKey]">
                    Read more
                </button>
            </mat-card>
        </div>
        <div *ngIf="searchResults.length < 1" class="center">
            <h2>No posts found with the given search terms.</h2>
        </div>
    </div>
    <!-- Search Results End-->
</div>

<ng-template #nodescription>
    <p class="no-description">
        No description available
    </p>
</ng-template>

