<!--Cover-->
<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="mb-auto"></div>

    <main class="px-3">
      <h1>Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
        text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold btn-theme-tertiary">Learn more</a>
      </p>
    </main>

    <footer class="mt-auto"></footer>
  </div>
</div>
<!--End cover-->
<!--Grid-->
<div class="container" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <i class="bi-bootstrap-fill text-theme text-muted flex-shrink-0 me-3 icon-175"></i>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="bi-cpu-fill text-theme text-muted flex-shrink-0 me-3 icon-175"></i>
      <div>
        <h4 class="fw-bold mb-0">CPU</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="bi-calendar3 text-theme text-muted flex-shrink-0 me-3 icon-175"></i>
      <div>
        <h4 class="fw-bold mb-0">Calendar</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="bi-house-door text-theme text-muted flex-shrink-0 me-3 icon-175"></i>
      <div>
        <h4 class="fw-bold mb-0">House</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="bi-speedometer2 text-theme text-muted flex-shrink-0 me-3 icon-175"></i>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="bi-toggles2 text-theme text-muted flex-shrink-0 me-3 icon-175"></i>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="bi-geo-fill text-theme text-muted flex-shrink-0 me-3 icon-175"></i>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="bi-tools text-theme text-muted flex-shrink-0 me-3 icon-175"></i>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
  </div>
</div>
<!--Grid-end-->
