<!--Cover-->
<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="mb-auto"></div>

    <main class="px-3">
      <h1 class="page-highlight">Welcome to Freeboard</h1>
      <p class="lead">
        The friendliest job application board available to companies and freelancers alike. With a casual approach and freedom in design, the goal is to offer a free point of view to the usual job-board approach.
        <br><br>
        <strong>Start here find the perfect match for you!</strong>
      </p>
      <br>
      <p class="lead">
        <a [routerLink]="['/search']" class="btn btn-lg btn-secondary fw-bold btn-theme-tertiary">Find your dream job</a>
      </p>
    </main>

    <footer class="mt-auto"></footer>
  </div>
</div>
<!--End cover-->
<!--Grid-->
<div class="container" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <em class="bi-bootstrap-fill text-theme text-muted flex-shrink-0 me-3 icon-175"></em>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <em class="bi-cpu-fill text-theme text-muted flex-shrink-0 me-3 icon-175"></em>
      <div>
        <h4 class="fw-bold mb-0">CPU</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <em class="bi-calendar3 text-theme text-muted flex-shrink-0 me-3 icon-175"></em>
      <div>
        <h4 class="fw-bold mb-0">Calendar</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <em class="bi-house-door text-theme text-muted flex-shrink-0 me-3 icon-175"></em>
      <div>
        <h4 class="fw-bold mb-0">House</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <em class="bi-speedometer2 text-theme text-muted flex-shrink-0 me-3 icon-175"></em>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <em class="bi-toggles2 text-theme text-muted flex-shrink-0 me-3 icon-175"></em>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <em class="bi-geo-fill text-theme text-muted flex-shrink-0 me-3 icon-175"></em>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <em class="bi-tools text-theme text-muted flex-shrink-0 me-3 icon-175"></em>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
  </div>
</div>
<!--Grid-end-->
