.post-title {
    font-size: 48px;
}
.highlight-chip-list {
    width: 100%;
}
.postDescription {
    width: 100%;
}
.postDescription textarea {
    min-height: 40px;
}
.highlight-title {
    width: 100%;
}